📬 Smart Email Summarizer & Logger.json
{
  "name": "📬 Smart Email Summarizer & Logger",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5289af08-d03b-48a4-940a-e0a742be08c8",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "IFrGgl3vubXpnnEm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"text\"] || $json[\"body\"] || $json[\"snippet\"] }}",
        "options": {
          "systemMessage": "Summarize this email and extract the following fields:\n- Sender Name\n- Email\n- Main Topic\n- Urgency Level\n\nReturn the output strictly in JSON like this:\n\n{\n  \"sender\": \"Sender Name\",\n  \"email\": \"sender@example.com\",\n  \"summary\": \"3-line summary\",\n  \"urgency\": \"High/Medium/Low\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "f703c7a3-7a80-4ebd-9ef8-64139ad82604",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ],
      "id": "9e0d677d-b733-48ba-bb5a-3a2c0027f29b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R8MLEgZMkOvT8D5R",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W0wMGgYPNktvam9p-q3E1w5XWqPbQXmol72Zdy8lciA",
          "mode": "list",
          "cachedResultName": "Client Email Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W0wMGgYPNktvam9p-q3E1w5XWqPbQXmol72Zdy8lciA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W0wMGgYPNktvam9p-q3E1w5XWqPbQXmol72Zdy8lciA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Sender": "={{ $json.sender }}",
            "Email": "={{ $json.email }}",
            "Urgency": "={{ $json.urgency }}",
            "Summary": "={{ $json.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        0
      ],
      "id": "d47cd204-501b-40cd-92cc-9c3396d65a91",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pXQib6XFaKKgc7j2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dateObj = new Date();\n\n// Day\nconst day = dateObj.getDate(); // 2\n\n// Month names\nconst monthNames = [\n  \"January\", \"February\", \"March\", \"April\", \"May\", \"June\",\n  \"July\", \"August\", \"September\", \"October\", \"November\", \"December\"\n];\nconst month = monthNames[dateObj.getMonth()]; // March\n\n// Year\nconst year = dateObj.getFullYear(); // 2026\n\n// Formatted Date\nconst formattedDate = `${day} ${month} ${year}`;\n\nreturn [\n  {\n    json: {\n      sender: \"Google Security Team\",\n      email: \"qualityassurance502@gmail.com\",\n      summary: \"You have granted n8n.cloud access to your Google Account data. If this wasn't your action, it may indicate unauthorized access.\",\n      urgency: \"High\",\n      date: formattedDate\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "567a2fcc-31a8-49ad-a0d4-4eba876a3372",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "75dda777-8fee-48ff-aafa-494314d18597",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7fb9c15a60f56efb2ed4242be9731d3ca6085debc8b55380dea54cf9f42b047d"
  },
  "id": "6oxpyc9PJ0uZtXeF",
  "tags": []
}